html,body{
	background-color: #FFFFFF;
}
.search{
	margin-top: 60px;
}
input[type='search'] {
	border-radius: 16px;
	background-color: rgba(152, 147, 147, 0.1);
	margin-left: 20px;
	width: 90%;
}
.list-nickname {
	font-weight: 500;
}

.list-time {
	font-size: 14px;
	color: #8f8f94;
	float: right;
}

.address{
	margin-top: 12px;
}



#topPopover {
	position: fixed;
	top: 16px;
	right: 6px;
}
#topPopover .mui-popover-arrow {
	left: auto;
	right: 6px;
}
.mui-popover {
	height: 140px;
	width: 100px;
}
