html,body{
	background-color: #FFFFFF;
}

.avator{
	line-height: 40px;
    max-width: 40px;
    height: 40px;
}
.mui-bar-tab{
	padding-top: 5px;
	padding-bottom: 15px;
}

.title{
	
}

.footer_message{
	margin-bottom: 0px;
	display: inline-block;
}

.view{
	float: left;
}
.author{
	float: left;
	position: relative;
	left: 20px;
}
.time{
	position: relative;
	float: left;
}


.mui-table-view:before {
	height: 0px;
}
h5{
    margin-top: 0px;
}
p img {
	max-width: 100%;
	height: auto;
}


#topPopover {
	position: fixed;
	top: 16px;
	right: 6px;
}

.mui-popover {
	height: 140px;
	width: 85px;
}

.mui-media-object{
	border-radius: 6px;
}
