body{
	background-color: #ffffff;
}

.mui-content {
    background-color: #FFFFFF;
}

.header{
	display: inline-block;
	height: 25px;
	width: 100%;
	background-color: #eee;
	vertical-align: middle;
}
.title-score{
	float: left;
}
.title-name{
	float: left;
	position: relative;
	left: 10px;
}
.type{
	color: #000000;
	float: left;
	margin-left: 15px;
	vertical-align: center;
}
.massage{
	float: left;
	width: 110px;
	position: relative;
	left: 15px;
	border-radius: 10px;
	background-color: #92e5f1;
}
.massage-detail{
	position: relative;
	left: 10px;
	color: #000000;
	margin-top: 7px;
}

.title-body{
	background-color: #FFFFFF;
	width:100%;
}

.title-number{
	background-color: cornflowerblue;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	float: left;
	margin-top: 25px;
	margin-left: 25px;
	text-align: center;
	color: white;
}
.title-message{
	margin: 15px;
	width: 70%;
	float: left;
}
.line{
	
	width: 100%;
}

.mui-input-group .mui-input-row:after{
	height: 0px;
}

.mui-card {
	margin-left: -20px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

.button{
	display: block;
	margin: auto;
}